@keyframes fit-in {
    0% {
        transform: translate3d(-30px, -15px, 0) rotateX(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes fall-in {
    0% {
        // perspective: 500px;
        transform: translate3d(0, -30px, 0) rotateX(-90deg);
        opacity: 0;
    }
    100% {
        // perspective: 0;
        transform: translate3d(0, 0, 0) rotateX(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}